@import "tailwindcss";
@import "@heroui/styles";

@font-face {
	font-family: "Inter";
	src: url("./assets/fonts/Inter.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-primary: #0485f7;
	--color-text-primary: #252525;
	--color-text-secondary: #737373;
	--color-background: #f7f7f7;

	--font-inter: "Inter", sans-serif;
}

* {
	@apply transition-all duration-200 outline-none [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden;
}

body {
	@apply font-inter;
}

.menu-icon {
	@apply size-4.5;
}

.nav-active {
	@apply text-sm font-medium text-text-primary py-2 px-3 bg-white rounded-lg flex items-center gap-2 shadow-sm;
}

.nav-active .menu-icon {
	@apply text-primary transition-colors duration-200;
}

.nav-inactive {
	@apply text-sm font-medium text-text-secondary rounded-lg hover:text-text-primary py-2 hover:pl-3 pr-3 hover:bg-zinc-200/40 transition-all duration-200 flex items-center gap-2;
}

.nav-inactive .menu-icon {
	@apply text-text-secondary transition-colors duration-200;
}

.nav-inactive:hover .menu-icon {
	@apply text-text-primary;
}

th,
td {
	@apply text-left;
}

th {
	@apply text-sm font-normal text-text-secondary;
}

td {
	@apply py-2 border-b border-text-secondary/10;
}

input {
	@apply text-text-primary w-full font-medium placeholder:font-normal bg-text-secondary/5 px-3 py-2 rounded-lg border focus:border-2 focus:border-text-primary/60 transition-colors duration-1000 ease-in-out;
}
